@font-face {
    font-family: 'Mark Pro';
    src: url('/Mark-Pro.ttf');
}

body {
    color: #e7e6e3;
    background-color: #1f1f1f;
    margin: 0;
    font-family: 'Mark Pro', Arial, sans-serif;
}

.button {
    border-radius: 12px;
    padding: 0.6rem 1.4rem !important;
    color: #111;
    background-color: #d13639;
    text-align: center;
    cursor: pointer;
}

nav {
    background-color: #111;
    height: 80px;
    width: 100%;
    display: flex;
    gap: 40px;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
}

.navItems {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 40px;
}

.navItem {
    padding: 7.5px 16px;
    border-radius: 6.4px;
    color: #f9f9f9;
    text-decoration: none;
}

.navItem:hover {
    background-color: rgba(128, 128, 128, .3);
}
